### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/SwingPizza.iml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/target/classes/logik/BestellSystem.class
/target/classes/logik/BestellSystemSwing.class
/target/classes/modell/Bestellung.class
/target/classes/modell/Pizza.class
/target/classes/modell/PizzaGröße.class
/target/classes/ui/BestellDialog.class
/target/classes/ui/DialogFrontend.class
/target/classes/ui/JCard$1.class
/target/classes/ui/JCard.class
/target/classes/util/Tools.class
/target/classes/größen.csv
/target/classes/menü.csv
/target/classes/Menü.xlsx
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/2025-01-07T16-27-06_439.dumpstream
/target/surefire-reports/logik.BestellSystemTest.txt
/target/surefire-reports/TEST-logik.BestellSystemTest.xml
/target/test-classes/logik/BestellSystemTest.class
